export(crps_circ)
export(func_cdf_wc)
export(func_d_wc)
export(func_logd_wc)
export(mcmc_cwc)
export(mcmc_tpn)
export(q_wc)
export(r_rice)
export(sim_sigma)
export(cdf_wc)
export(r_rice)
importFrom(LaplacesDemon,dinvwishart)
importFrom(LaplacesDemon,rinvwishart)
importFrom(stats,dbeta)
importFrom(stats,dchisq)
importFrom(stats,dnorm)
importFrom(stats,rnorm)
importFrom(stats,runif)
importFrom(truncnorm,rtruncnorm)
